<%- include('../layouts/header.ejs') %>
<style>
.error-message {
  color: red;
  margin-top: 5px;
}
</style>
<body>
    <div class="container main">
        <div class="profile">
            <div class="container">
                <div class="col-lg-8 offset-lg-2 text-center">
        <br><br>
<h1>Forget Password</h1>
<%  
if(typeof message !=='undefined'){
    %>
        <p style="color:green;"><%= message %></p>

    <%}%>

<form action=""  id="myForm" method="post">
<input type="password" id="password" class="form-control form-control-lg" name="password" placeholder="Enter new password">
<div id="passwordError" class="error-message"></div>

<input type="password" id="confirmPassword" class="form-control form-control-lg" name="confirmpassword" placeholder="Confirm Your password">
<div id="confirmPasswordError" class="error-message"></div>
<input type="hidden" name="id" value="<%=user_id%>" >
<br> <br>
<input type="submit"  value="Reset Password">
<br><br>

</form>
</div>
</div>
</div>
</div>
</body>
<script>
 const passwordInput = document.getElementById("password");
const confirmPasswordInput = document.getElementById("confirmPassword");
const passwordError = document.getElementById("passwordError");
const confirmPasswordError = document.getElementById("confirmPasswordError");
const form = document.getElementById("myForm");

// Add event listeners to the input fields
passwordInput.addEventListener("change", validatePassword);
confirmPasswordInput.addEventListener("change", validateConfirmPassword);
form.addEventListener("submit", handleSubmit);

function validatePassword() {
  const password = passwordInput.value;

  if (password.length < 8) {
    passwordError.textContent = "Password must be at least 8 characters long.";
  } else {
    passwordError.textContent = "";
  }
}

function validateConfirmPassword() {
  const password = passwordInput.value;
  const confirmPassword = confirmPasswordInput.value;

  if (password !== confirmPassword) {
    confirmPasswordError.textContent = "Passwords do not match.";
  } else {
    confirmPasswordError.textContent = "";
  }
}

function handleSubmit(event) {
  const password = passwordInput.value;
  const confirmPassword = confirmPasswordInput.value;

  if (password !== confirmPassword || password === "" || confirmPassword === "") {
    event.preventDefault(); // Prevent form submission
    confirmPasswordError.textContent = "Please make sure passwords match.";
  }
}


</script>
<%- include('../layouts/footer.ejs') %>