<%- include('../layouts/header.ejs') %>
<body>
	<style>
		.btn-color{
  background-color: #07212e;
  color: #fff;
  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}
	</style>
	
	<!--PreLoader-->
    <!-- <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div> -->
    <!--PreLoader Ends-->
	
	<!-- header -->
	<!-- <div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					 <div class="main-menu-wrap"> -->
						<!-- logo -->
						
						<!-- logo -->

						<!-- menu start -->
						<!-- <nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="#">Home</a>
									<ul class="sub-menu">
										<li><a href="index.html">Static Home</a></li>
										<li><a href="index_2.html">Slider Home</a></li>
									</ul>
								</li>
								<li><a href="about.html">About</a></li>
								<li><a href="#">Pages</a>
									<ul class="sub-menu">
										<li><a href="404.html">404 page</a></li>
										<li><a href="about.html">About</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="news.html">News</a></li>
										<li><a href="shop.html">Shop</a></li>
									</ul>
								</li>
								<li><a href="news.html">News</a>
									<ul class="sub-menu">
										<li><a href="news.html">News</a></li>
										<li><a href="single-news.html">Single News</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="shop.html">Shop</a>
									<ul class="sub-menu">
										<li><a href="shop.html">Shop</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="single-product.html">Single Product</a></li>
										<li><a href="cart.html">Cart</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div> -->
						<!-- menu end -->
				
	<!-- end header -->

	<!-- search area -->
	<!-- <div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<!-- <div class="breadcrumb-section breadcrumb"> -->
		<div class="container">
			<div class="row">
				<!-- <div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p></p>
						<h1>Login</h1>
					</div>
				</div>
			</div>
		</div> --> 
		<div class="site-logo">
			<a href="index.html">
				<img src="/img/logo.png" alt="">
			</a>
		</div> 
	</div>
</div>
</div>
</div>
</div>
	<!-- end breadcrumb section -->
	<div class="container">
		<div class="row">
		  <div class="col-md-6 offset-md-3">
			 <h3 class="text-center text-dark mt-5">Login </h3>
			<!-- <div class="text-center mb-5 text-dark">Made with bootstrap</div> -->
			<div class="card my-5"> 
					
			<form  method="post" action="/login"  class="card-body cardbody-color p-lg-5">
				
				<div class="text-center">
				  <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
					width="200px" alt="profile">
				</div>
				<%  
				if(typeof message !=='undefined'){
					%>
						<p style="color:red;"><%= message %></p>
				
					<%
				
				}
				
				%>
				<div class="btn-group pb-3">
					<label class="btn btn-outline-success passwordLogin" >
					  <span class="btn-check" name="loginMethod"  value="password" id="passwordRadio" autocomplete="off"> Login with Password </span>
					</label>
					<label class="btn btn-outline-success otpLogin ">
					  <span class="btn-check" name="loginMethod" value="otp" id="otpRadio" autocomplete="off"> Login with OTP </span>
					</label>
				  </div>
				<div class="mb-3">
					
				  <input type="text"  id="email" class="form-control emailId"   aria-describedby="emailHelp" name="email" placeholder="Email">
				  <p id="emailError" style="color: red;"></p>
				</div>				  
				  <div id="otpContainer" class="d-none">
					<button type="button" id="sendOTP" class="btn btn-outline-primary btn-sm mb-2">Send OTP</button>
					<p id="messageOTP" class="d-none text-success">OTP Send Successfully </p>
					<p id="errorOTP" class="d-none text-danger">User is blocked By Admin </p>
					<p id="noMailOTP" class="d-none text-danger">Entered Email not exists </p>

					 <input type="" id="otp" name="otp" value=""  class="form-control mb-3" placeholder="OTP" required>
				  </div>
				  <div id="passwordContainer" class="d-none">
					<input type="password" id="password" name="password"  class="form-control mb-3" placeholder="Password" required>
					<!-- <button id="loginButton"  class="btn btn-color px-5 mb-3 w-100 text-white" type="submit">Login</button> -->
				  </div>

				  <p style="color: red;" id="submitError"></p>
					<button type="submit" id="continueButton"  class="btn btn-color px-5 mb-5 w-100 text-white">Login</button>
				<!-- <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Continue</button></div> -->
				<div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
				  Registered? <a href="/signup" class="text "> Create an
					Account</a>
				</div>
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Hafiz Ahmed</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/js/sticker.js"></script>
	<!-- form validation js -->
	<script src="/js/form-validate.js"></script>
	<!-- main js -->
	<script src="/js/main.js"></script>
	<script>
		function validate(){
			let email=document.getElementById('email').value
			let emailError=document.getElementById('emailError')
			let regex=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
			console.log('entered to validate funct');
			if(!regex.test(email) ||email===''){
				emailError.textContent='Enter a valid Email';
				return false
			}else{
				emailError.textContent='';
				return true;
			}

		}
		const otpRadio = document.getElementById('otpRadio');
		const passwordRadio = document.getElementById('passwordRadio');
		const otpContainer = document.getElementById('otpContainer');
		const continueButton = document.getElementById('continueButton');
		const passwordContainer = document.getElementById('passwordContainer');
		const loginButton = document.getElementById('loginButton');
		const submitButton = document.querySelector('button[type="submit"]');
		const otpLogin = document.querySelector('.otpLogin')
		const passwordLogin = document.querySelector('.passwordLogin')
		const form = document.querySelector('form')
		const email = document.querySelector('.emailId')	;
		const sendOTP=document.getElementById('sendOTP');
		const passwordInput = document.getElementById('password');
		const otpInput = document.getElementById('otp');

		otpRadio.addEventListener('click', function() {
			otpInput.value=''
			passwordInput.value=''
			otpLogin.classList.add('active')
			passwordLogin.classList.remove('active')
			passwordContainer.classList.add('d-none')
			passwordContainer.classList.remove('d-block')
			otpContainer.classList.remove('d-none')
			otpContainer.classList.add('d-block')
			console.log('displayed block');

		});

		passwordRadio.addEventListener('click', function() {
			passwordInput.value = '';
			otpContainer.value = '';
			console.log('clicked password');
			otpLogin.classList.remove('active')
			passwordLogin.classList.add('active')
			passwordContainer.classList.remove('d-none')
			passwordContainer.classList.add('d-block')
			otpContainer.classList.add('d-none')
			otpContainer.classList.remove('d-block')

		});
		submitButton.addEventListener('click',function(event){
			
			event.preventDefault();
			const emailValue=email.value.trim();
			const otp =otpInput.value.trim();
			const password= passwordInput.value.trim();

			
				if (validate()) {
					if (otp.length >3 || password.length > 4) {
					submitButton.closest('form').submit();
					submitError.textContent='';
				}else{
					const submitError=document.getElementById('submitError')
					submitError.textContent='Enter Valid OTP Or Password '
				}
			}
			
			
		})
		
		sendOTP.addEventListener('click',function(){
			const email = document.querySelector('.emailId').value
			const emailError=document.getElementById('emailError')
			const emailRegex=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+/
			if(!emailRegex.test(email)){
				emailError.textContent='Enter a valid email'
			}else{
				emailError.textContent=''
				const url='login/otp'
				fetch(url,{
				method: 'POST',
				headers: {
				'Content-Type': 'application/json'
				},
					body: JSON.stringify({ email: email })
				}).then(response=> response.json())
				// .then(data => {
				// 	console.log('hghgjhgg',data);

				.then(data=>{
					const messageError = document.getElementById('errorOTP');
					const messageElement = document.getElementById('messageOTP');
					const nomailError = document.getElementById('noMailOTP');
					if(data==='mailSuccess'){
						console.log(data);
						messageElement.classList.remove('d-none')
						messageElement.classList.add( 'd-block')
						messageError.classList.add('b-none')
						messageError.classList.remove('b-block')
					}else if(data==='userBlocked'){
						messageError.classList.remove('d-none')
						messageError.classList.add( 'd-block')
						messageElement.classList.remove('d-block')
						messageElement.classList.add( 'd-none')
						nomailError.classList.remove('d-block')
						nomailError.classList.add( 'd-none')
					}else {
						nomailError.classList.remove('d-none')
						nomailError.classList.add('d-block')
						messageError.classList.remove('d-block')
						messageError.classList.add('d-none')
						messageElement.classList.remove('d-block')
						messageElement.classList.add('d-none')
					}
				})
			}
		})


	</script>
	
<%- include('../layouts/footer.ejs') %>